<!-- add a back button to to the top of each article-->
<div class="page">
    <div class="button">
        <button><-</button>
    </div>
    <div class="header">
        <h4>How to Stop Having Day (or less of one)</h4>
        <h6>February 3, 2023 <br>2:11pm</h6>
    </div>
    <br>
    <div class="content">
        <p>
            Do you ever find yourself having a bad day
            because something happens that upsets you, like
            your mug you're heating up in the microwave overflows
            and you now have to clean the sticky mess, or your cat throws up
            as soon as you wake up? And these instances set you off
            in a bad mood for the day? It's okay if that's you because that used
            to be me. As soon as you have one inconvenience you let yourself sulk in it
            until some other inconvenience occurs that builds on top of the existing sulk like
            Link'n Logs until you build your house high of bad moods leading the
            problems to get worse- like getting into a fender bender (yes, speaking from
            experience). And once you already have sulk built up, the sulk for the next
            negative occasion will be more intense. But what if I told you you can put an end to that negative
            foundation
            and drastically reduce the number of bad days you are having?
            The change is as simple as your mindset choices.
        </p>
        <br>
        <p>
            When these inconveniences occur throughout your day, you have a choice on
            how you want to react to them. Let's be honest, a lot of our little inconveniences
            that we allow ourselves to get upset about aren't even that bad... but so many people want to
            endulge in that self pity- or even the pity from others. Once we stop self-sabbotagging and
            assess the 'problems' that arise, we'll realize that often times it is a quick fix to clean up that
            mug and realize that it's a lot more fun and enjoyable to go about your day smiling- and even
            laugh about the situation. As soon as you stop the sulking for one little inconvenience, the build-up
            stops and we can eliminate the explosion of what we once considered a 'really bad day'.
            Let's not let a couple of things determine the mood of our entire day- it's a good day with a few
            inconveniences.
        </p>
        <br>
        <p>
            In hindsight, I realized the changes I've made to my mindset subconscienciously and what I found
            is that the number of bad days that I used to have- often enough to where the term 'bad day' was present
            in my vocabulary (probably at least once a month or two)- have decreased to an average of 0 per month. Of
            course you're not
            going to fully eliminate them, but you can heavily reduce the intensity that they have on you
            when you do have them. We have the choice to not be bothered by things, the choice to continue smiling
            throughout our day, the choice to laugh about hiccups, and the choice to have a good day.
        </p>
    </div>
</div>