<!-- add a back button to to the top of each article-->
<div class="page">
    <div class="button">
        <button><-</button>
    </div>
    <div class="header">
        <h4>Thoughts as a first time home-buyer</h4>
        <h6>January 24, 2023 <br>10:47pm</h6>
    </div>
    <br>
    <div class="content">
        <ol>
            <li>I am house hunting and I want to surprise my parents with the house I choose ~AFTER~ I've
                bought it to show myself that I can make huge decisions in my life on my own. To stop doubting
                myself and looking to someone to get approval. To give me confidence to not only reach as far
                as possible across the stream, but to take a leap across when reaching isn't close enough to the other
                side. But also to not adopt other people's fears and decision making perspectives.
            </li>
            <br>
            <li>
                In a way, buying a house is like a surprise to yourself. Sure, you have options that you know of,
                but you never know which one will work out. It's like spinning a wheel to see which house it lands on.
            </li>
            <br>
            <li>
                Will a house feel as save as this apartment?<br>
                Getting closer to a city<br>
                at ground level<br>
                more points of entry.<br>
                Less people to hear<br>
                less people to see,<br>
                living by myself <br>
                who will know if someone comes to get me?<br>
                Funny how in an apartment I'm worried about who hears what<br>
                But in a house I'm worried that no one may hear when the distance was cut.
            </li>
            <br>
            <br>
            <h6 class="subheader">Other Random Thoughts in the Process</h6>
            <li>
                I want to learn batllet/interpretive dancing.
            </li>
            <br>
            <li>
                Build an Empire
            </li>
            <br>
            <!-- <li>
                Sell plants at markets with a DIY plant-in-a-planter station where I provide thirifted/upcycled
                containers (either included or for additional price).
            </li> -->
        </ol>
    </div>
</div>