/* .navbar {
    background-color:rgb(255, 246, 234);
} */

.navbar-brand{
    padding-left: 15px;
    font-size: xx-large;
    font-family: fantasy;
    color: #d4a373;
}

.nav-link{
    color:white;
}

.main-header{
    height: 140px;
    background-image: url('/assets/photos/layns-leaf-banner-smaller.png');
    background-attachment: scroll;
    background-size: 100%;
    background-repeat: no-repeat;
}