<div class="main-header">
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" [ngClass]="{'collapsed': navbarCollapsed}"></span>
    </button>
    <div class="group"></div>
    <div class="group collapse navbar-collapse main-header mx-lg-5" id="navbarNav" [ngClass]="{'show': !navbarCollapsed}">
      <ul class="navbar-nav">
        <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="/blog">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Bio">bio</a>
        </li>
        <a href="/home"><img class="layns-leaf-logo" src="assets/photos/laynsleaf.png" alt="image"></a>
        <li class="nav-item">
          <a class="nav-link" href="/Gallery">gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop">shop</a>
        </li>
      </ul>
    </div>
    <div class="group"></div>
  </nav>
</div>