@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
.notecards{
    columns: 3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    background-color: whitesmoke;
}

header{
    background-color: white;
}

button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}

button:hover{
    background-color: rgba(0,0,0,0.1);
}

.container{
    width: 95%;
    margin: auto; 
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: white;
}

.nav button{
    font-family: inherit;
}

.create-box{
    width: 380px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card-box{
    width: 380px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.create-box textarea{
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightgray;
}

.create-box button{
    width: fit-content;
}

.flashcards{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}

.flashcard{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.flashcard h2{
    font-size: 1rem;
}

@media(max-width:768px){
    .flashcard{
        margin: auto;
    }

    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width: 480px){
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .create-box{
        width: 100%;
    }

    .flashcard{
        width: 100%;
    }
}

.card-list{
    display: flex;
    width: 90%;
}



.card {
    width: 12rem;
    cursor: pointer;
    margin: 1rem;
  }
  
  .content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: rgb(127, 204, 240);
    padding: 5em;
    transform-style: preserve-3d;
  }
  
  .card:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .title {
    transform: translateZ(5rem);
    font-size: 2rem;
  }
  
  .subtitle {
    transform: translateZ(2rem);
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: #009bff;
    font-size: x-small;
  }
  
  .description {
    transform: translateZ(3rem);
  }
  