<div class="blog-home">
    <div class="collections">
        <!-- 3 featured articles in a row at the top. Then
        sections for categories to choose from where each category will have 
        it's own pages of articles-->
        <!-- ngFor loop going through the components? 
            idk if you can do that
            in a json file add items containing a title, description, and a link that
            we will use to loop through here. These attributes will correllate to a blog post-->
        <div class="card" style="margin:20px; padding:5px; background:#d4a373; border: 2px; border-color:black">
            <!-- link to the component page rather than include the component here-->
            <h6>Random Thoughts and Fears of becoming a First-Time Home Buyer</h6>
            <p>Leafy Leaf Chronicles - iykyk</p>
            <a class="nav-link" href="/jan24">Read Here</a>
            <!-- <app-jan24></app-jan24> -->
        </div>
        <div class="card" style="margin:20px; padding:5px; background:#d4a373; border: 2px; border-color:black">
            <!-- link to the component page rather than include the component here-->
            <h6>How to Stop Having a Bad Day</h6>
            <p>Mindset</p>
            <a class="nav-link" href="/feb3">Read Here</a>
            <!-- <app-jan24></app-jan24> -->
        </div>
    </div>
</div>
<br>
<br>