<div class="body">
    <div class="row-one">
        <div class="image-card">
            <img class="digital-selfie" src="assets/photos/digital-art-selfie.JPG" alt="image">
        </div>
        <div class="intro-card">
            <h4>Hi, I'm Alayna!</h4>
            <p>Welcome to my site and feel free to take a look around. 
                Here, I will host a combination of topics from Aviation, Lifestyle Blogs,
                Art, Travel, Tech, and more. In summary, the topics of Layn's Life. Hope 
                you stick around a bit and enjoy!
            </p>
        </div>
    </div>
    <div class="row-two">
        <!-- get first 3 or so articles for a row-->
        <div>

        </div>
    </div> 
    <!-- <br>
    <br> -->
    <!-- <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #ccd5ae
            <div style="background: #ccd5ae; box-shadow: #ccd5ae 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            e9edc9
            <div style="background: #e9edc9; box-shadow: #e9edc9 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            fefae0
            <div style="background: #fefae0; box-shadow: #fefae0 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            faedcd
            <div style="background: #faedcd; box-shadow: #faedcd 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #d4a373
            <div style="background: #d4a373; box-shadow: #d4a373 0px 0px 0px 1px;">
            </div>
        </div>
    </div> -->
    <!-- <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #EEE2DF
            <div style="background: #fff6ea; box-shadow: rgb(255, 246, 234) 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            EED7C5
            <div style="background: #EED7C5; box-shadow: #EED7C5 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            C89F9C
            <div style="background: #C89F9C; box-shadow: #C89F9C 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            C97C5D
            <div style="background: #C97C5D; box-shadow: #C97C5D 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #B36A5E
            <div style="background: #B36A5E; box-shadow: #B36A5E 0px 0px 0px 1px;">
            </div>
        </div>
    </div> -->
        <!-- <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #606c38
            <div style="background: #606c38; box-shadow: #606c38 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            283618
            <div style="background: #283618; box-shadow: #283618 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            fefae0
            <div style="background: #fefae0; box-shadow: #fefae0 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            dda15e
            <div style="background: #dda15e; box-shadow: #dda15e 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #bc6c25
            <div style="background: #bc6c25; box-shadow: #bc6c25 0px 0px 0px 1px;">
            </div>
        </div>
    </div> -->
    
    <!-- <br> -->
    <!-- <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #e9f5db
            <div style="background: #e9f5db; box-shadow: #e9f5db 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            cfe1b9
            <div style="background: #cfe1b9; box-shadow: #cfe1b9 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            b5c99a
            <div style="background: #b5c99a; box-shadow: #b5c99a 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            97a97c
            <div style="background: #97a97c; box-shadow: #97a97c 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #87986a
            <div style="background: #87986a; box-shadow: #87986a 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #718355
            <div style="background: #718355; box-shadow: #718355 0px 0px 0px 1px;">
            </div>
        </div>
    </div> -->
    <!-- <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
             #FAFBF9
            <div style="background: #FAFBF9; box-shadow: #FAFBF9 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            E5B59E
            <div style="background: #E5B59E; box-shadow: #E5B59E 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            8AAD69
            <div style="background: #8AAD69; box-shadow: #8AAD69 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            435F2E
            <div style="background: #435F2E; box-shadow: #435F2E 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #363A21
            <div style="background: #363A21; box-shadow: #363A21 0px 0px 0px 1px;">
            </div>
        </div>
    </div>  -->
    <!-- <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            F1BF98
            <div style="background: rgb(241, 191, 152); box-shadow: rgb(241, 191, 152) 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            E1F4CB
            <div style="background: rgb(225, 244, 203); box-shadow: rgb(225, 244, 203) 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            BACBA9
            <div style="background: rgb(186, 203, 169); box-shadow: rgb(186, 203, 169) 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            717568
            <div style="background: rgb(113, 117, 104); box-shadow: rgb(113, 117, 104) 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            3F4739
            <div style="background: rgb(63, 71, 57); box-shadow: rgb(63, 71, 57) 0px 0px 0px 1px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            6B9080
            <div style="background: #6B9080; box-shadow: #6B9080 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            A4C3B2
            <div style="background: #A4C3B2; box-shadow: #A4C3B2 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            CCE3DE
            <div style="background: #CCE3DE; box-shadow: #CCE3DE 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            EAF4F4
            <div style="background: #EAF4F4; box-shadow: #EAF4F4 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #F6FFF8
            <div style="background: #F6FFF8; box-shadow: #F6FFF8 0px 0px 0px 1px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #EEE0CB
            <div style="background: #EEE0CB; box-shadow: #EEE0CB 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            A4C3B2
            <div style="background: #BAA898; box-shadow: #BAA898 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            CCE3DE
            <div style="background: #CCE3DE; box-shadow: #CCE3DE 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            EAF4F4
            <div style="background: #EAF4F4; box-shadow: #EAF4F4 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #F6FFF8
            <div style="background: #280003; box-shadow: #280003 0px 0px 0px 1px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #EEE0CB
            <div style="background: #EEE0CB; box-shadow: #EEE0CB 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            B3EFB2
            <div style="background: #B3EFB2; box-shadow: #B3EFB2 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            7A9E7E
            <div style="background: #7A9E7E; box-shadow: #7A9E7E 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            31493C
            <div style="background: #31493C; box-shadow: #31493C 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #001A23
            <div style="background: #001A23; box-shadow: #001A23 0px 0px 0px 1px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #363020
            <div style="background: #363020; box-shadow: #363020 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            605C4E
            <div style="background: #605C4E; box-shadow: #605C4E 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            A49966
            <div style="background: #A49966; box-shadow: #A49966 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            C7C7A6
            <div style="background: #C7C7A6; box-shadow: #C7C7A6 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #EAFFDA
            <div style="background: #EAFFDA; box-shadow: #EAFFDA 0px 0px 0px 1px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #FCAA67
            <div style="background: #FCAA67; box-shadow: #FCAA67 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            B0413E
            <div style="background: #B0413E; box-shadow: #B0413E 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            FFFFC7
            <div style="background: #FFFFC7; box-shadow: #FFFFC7 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            548687
            <div style="background: #548687; box-shadow: #548687 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #473335
            <div style="background: #473335; box-shadow: #473335 0px 0px 0px 1px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #A4B494
            <div style="background: #A4B494; box-shadow: #A4B494 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            BEC5AD
            <div style="background: #BEC5AD; box-shadow: #BEC5AD 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            3B5249
            <div style="background: #3B5249; box-shadow: #3B5249 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            519872
            <div style="background: #519872; box-shadow: #519872 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #34252F
            <div style="background: #34252F; box-shadow: #34252F 0px 0px 0px 1px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #B5FFE1
            <div style="background: #B5FFE1; box-shadow: #B5FFE1 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            93E5AB
            <div style="background: #93E5AB; box-shadow: #93E5AB 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            65B891
            <div style="background: #65B891; box-shadow: #65B891 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            4E878C
            <div style="background: #4E878C; box-shadow: #4E878C 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #00241B
            <div style="background: #00241B; box-shadow: #00241B 0px 0px 0px 1px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #493843
            <div style="background: #493843; box-shadow: #493843 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            61988E
            <div style="background: #61988E; box-shadow: #61988E 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            A0B2A6
            <div style="background: #A0B2A6; box-shadow: #A0B2A6 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            CBBFBB
            <div style="background: #CBBFBB; box-shadow: #CBBFBB 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #EABDA8
            <div style="background: #EABDA8; box-shadow: #EABDA8 0px 0px 0px 1px;">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="color-pallet">
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 0%;">
            #EAE0CC
            <div style="background: #EAE0CC; box-shadow: #EAE0CC 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            C9ADA1
            <div style="background: #C9ADA1; box-shadow: #C9ADA1 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            A0A083
            <div style="background: #A0A083; box-shadow: #A0A083 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            798478
            <div style="background: #798478; box-shadow: #798478 0px 0px 0px 1px;">
            </div>
        </div>
        <div class="row" style="height: 20px; width: 100%; left: 0px; top: 20%;">
            #4D6A6D
            <div style="background: #4D6A6D; box-shadow: #4D6A6D 0px 0px 0px 1px;">
            </div>
        </div>
    </div> -->
    
</div>
<br>
<br>
<br>

